
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 120px 100px 0;
}

.container-reto .parrafo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.button{
    text-align: center;
    padding: 2rem 0rem;
}

.open-modal{
    text-align: center;
    border: none;
    padding: 5px 20px;
    background-color: #C4C4C4;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.open-modal:hover{
    background-color: #a9a3a3;
}


.cabecera{
    background-color: #C4C4C4;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
}

.nav-menu-link{
    color: #000000;
    text-decoration: none;
    padding: 2px 12px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.carita-box{
    margin-top: 15px;
    text-align: center;
    height: 80px;
    align-self: center;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    text-align: -webkit-center;
}

/*OBS*/

.nav-menu-item {
    font-size: 18px;
    margin: 13px 0px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover {
    background-color: rgba(0, 0, 0, 0.6);;
    transition: 0.5s;
}

.burger{
    color: #000000;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.cerrar{
    display: none;
}


.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.show-modal{
    pointer-events: auto;
    opacity: 1;
}

.modal-mensaje{
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
}

.cerrar-modal{
    position: absolute;
    top: 0;
    right: 2px;
}
.cerrar-modal button{
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}

.nav-menu{
    display: none;
}

@media (max-width: 768px){

    body{
        padding: 120px 66px 0;
    }

    .cabecera{
        display: flex;
    }

    .menu-container{
        display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        align-items: center;
        justify-content: center;
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .show-menu{
        pointer-events: auto;
        opacity: 1;
    }

    .menu-select{
        position: absolute;
        background-color: #ffffff;
        width: 600px;
        max-width: 50%;
        padding: 30px 50px;
        border-radius: 10px;
        text-align: center;
    }

    .nav-menu {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
        margin-right: 11rem;
    }

    .cerrar-menu{
        position: absolute;
        top: 0;
        right: 2px;
    }
    .cerrar-menu button{
        cursor: pointer;
        border: none;
        background-color: #ffffff;
    }

}

@media (max-width: 480px){

    body {
        padding: 120px 40px 0;
    }

    .cabecera{
        display: flex;
    }

    .menu-container{
        display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        align-items: center;
        justify-content: center;
        position: fixed;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .modal-mensaje{
        margin-top: 4rem;
        max-width: 90%;
        height:600px;
        overflow:scroll;
        overflow-x:hidden;
    }

    .show-menu{
        pointer-events: auto;
        opacity: 1;
    }

    .menu-select{
        position: absolute;
        background-color: #ffffff;
        width: 600px;
        max-width: 50%;
        padding: 30px 50px;
        border-radius: 10px;
        text-align: center;
    }

    .nav-menu {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
        margin-right: 11rem;
    }

    .cerrar-menu{
        position: absolute;
        top: 0;
        right: 2px;
    }
    .cerrar-menu button{
        cursor: pointer;
        border: none;
        background-color: #ffffff;
    }

}







